*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: poppins , Arial, Helvetica, sans-serif;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#submit {
  color:antiquewhite;
  background:rgba(25, 25, 209, 0.8);
}
.marquee {
 color: darkgreen;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: rgba(245, 221, 181, 0.592);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .25), 0 3px 13px 11px rgba(0, 0, 0, 0.16);
  height: 45px;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, rgb(244, 244, 243) 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, rgb(240, 235, 235) 0%, transparent 100%);
}

.marquee-content{
  list-style: none;
  height: 100%;
  display: flex;
  animation : scrolling 50s linear infinite; 
  flex-wrap: wrap;
  z-index: 8;
}
.marquee-content:hover{
  animation-play-state: paused;
}

@keyframes scrolling {
  0% { transform: translateX(0vw); }
  100% { transform: translateX(-180vw);}
}
.marquee-content li {
  font-size: 20px;
  margin: 2% 0;
  width: 20vw;
  flex-shrink: 0;
  white-space: nowrap;
}

a {
  margin-bottom: 12px;
  text-decoration: none;
}

#search-container{
  width:98%;
  display: flex;
  flex-direction: row;
  height: 28px;
  
}
#container{
z-index: 10;
border-radius: 10px ;
background:rgba(216, 177, 93, 0.8) ; 
width:45%;box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .25), 0 3px 13px 11px rgba(0, 0, 0, 0.16) !important;
display: flex ;
flex-direction: column;
 margin-top: 5rem;
 border: 1px solid black;
}

#inputL{
border: 1px solid black;
flex-direction: column;
text-decoration: none;
}
.output.a {
text-decoration: none; 
text-decoration-color: white;
}
.output {
  width:100% ;
  display: flex ; 
  margin-left: 3rem;
}
#changeP {
  color:rgb(8, 137, 8);
  font-size: 30rem;
}
.tuna {
   background: url("../img/tuna_sprite.png") -800px -2000px no-repeat; 
  height: 200px; width: 400px;
  position: absolute;
  left: 50%; top: 87%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.running .tuna {
  animation: run-cycle 1s 4s steps(12) infinite backwards; 
}

@keyframes run-cycle {  
  0% { background-position: -1200px 0; } 
  100% {background-position: -1200px -2391px; } 
}
.foreground, .midground, .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  translate: 3d(0,0,0); 
}

.foreground {
  animation: parallax_fg linear 10s infinite both;
  background:  url("../img/foreground_grass.png") 0 100% repeat-x;
  z-index: 3;
}

@keyframes parallax_fg {  
  0% { background-position: -3584px 100%;} 
  100% {background-position: 0 100%; } 
}

.midground {
  animation: parallax_mg linear 20s infinite;
  background:  url("../img/midground_grass.png") 0 100% repeat-x;
  z-index: 2;
}

@keyframes parallax_mg {  
  0% { background-position: -3000px 100%;} 
  100% {background-position: 0 100%; } 
}

.background {
  background-image:
    url("../img/background_mountain5.png"),
    url("../img/background_mountain4.png"),
    url("../img/background_mountain3.png"),
    url("../img/background_mountain2.png"),
    url("../img/background_mountain1.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 1;
  animation: parallax_bg linear 40s infinite;
}

@keyframes parallax_bg {
  100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
}

body {
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
    #d2d2d2 url("../img/background_clouds.png");
}
